#set($dollar='$')#set($sharp='#')#set($t = $_root.a)$!{t} fdafdasfds


<div>this is root.c : #set($t = $_root.c)$!{t}</div>

<div>change more</div>
<div>change more</div>
<div>change more</div>

#parse('../b.vm')